
h4,h5,h6,
h1,h2,h3 {margin-top: 0;}

ul, ol{margin: 0;}

p {margin:0;}

html,body{
    font-family: 'Roboto',SansSerif;
    font-size: 100%;
    background:#fff;
}

body a{
    text-decoration: none;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

/*--开始头页--*/
.header {
    background: url(../images/banner1.jpg) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 840px;
    text-align:center;
}

.logo {
    margin-bottom: 1em;
}

.h_menu4{
    margin:0 auto;
    width: 100%;
    padding:15px 0;
}

.nav{
    list-style:none;
    *zoom: 1;
    margin-top: 17px;
}
<!--导航条设置-->

    .nav:before,
    .nav:after {
        content: " ";
        display: table;
    }
.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    width: 13em;
    border-bottom:5px solid #0072bc;
    z-index: 888;
}

.nav li a{
    display:block;
    margin: 0px 10px;
    font-size:17px;
    padding: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    text-decoration: none;
    font-weight: 600;
}

.nav li:hover{
    color:red;
}

.nav >li{
    display:inline-block;
    margin: 0 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.nav > li >a{
    color:#fff;
}

.nav > li > a:hover, .nav > li > a:focus {
    -webkit-transform: rotateY(15deg);
    -moz-transform: rotateY(15deg);
    -ms-transform: rotateY(15deg);
    transform: rotateY(15deg);
    color:#e22e2e;
}  /*--制造鼠标点击飘过效果--*/


/*--统一在各设备中的排版--*/
@media (max-width: 800px){

}
.toggleMenu {
    background: #c29f4d;
    font-size: 1.5em;
}
@media screen and (max-width: 640px) {
    .toggleMenu {
        width:100%;
    }
}
@media screen and (max-width: 480px) {
    .toggleMenu {
        width:100%;
    }
}
@media screen and (max-width: 320px) {
    .toggleMenu {
        width:100%;
    }
}

.header-left {
    width: 97%;
    float: left;
}

.header-top{
    padding-top: 4%;
}
.header-top h2 {
    font-size: 1.3em;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 9% 0px 0px 0px;
}
.header-top h1 {
    font-size: 3.2em;
    color: #fff;
    font-weight: 300;
    margin: 15px 0px 0px 0px;
    letter-spacing: 4px;
}
.header-top-bottom {
    margin-left: auto;
    margin-top: 5%;
}

.fixed{
    height:90px;
    position: fixed;
    top: 0;
    z-index:2;
    width: 99%;
    margin: 0 auto;
    left:0;
    background:#272727;
}
/*--头页结束--*/
/*--介绍页开始--*/
.about-main {
    text-align:center;
    margin-top: 0%;
}
.about{
    background:url(../images/banner2.jpg) no-repeat center fixed;/*--no-repeat center fixed可以固定背景图片--*/
    background-size:100% 100%;
    min-height: 720px;
}

.about-top{
    position:relative;
    top:90px;
    z-index:1;
    margin: auto;
    height:300px;
    width:800px;
    background:#333333;
    padding: 5em 0px;
    margin-top: 3%;
    opacity:0.9;
}
.about-main h3 {
    position:relative;
    top:50px;
    z-index:1;
    color: #fff;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0%;
}
/*--介绍页结束--*/
/*--游戏页开始--*/
.games{
    position:relative;
    left:10px;
    background: url(../images/games-1.jpg) no-repeat;
    min-height:700px;
}
.games-left{
    position:relative;
    left:15px;
    float: left;
    width:auto;
    margin-left: -20px;
}
.games-bottom {
    position: relative;
    top:-100px;
    left:0px;
    text-align: center;
}
.games-bottom h4 {
    color: #fff;
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
}
.games-bottom label {
    width: 35%;
    height: 1px;
    background: rgba(234, 208, 208, 0.5);
}
.g-btn {
    margin-top: 1.5em;
}
.games-bottom p {
    color: #d79292;
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    margin-top: 2px;
}
.g-btn a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    padding: 12px 21px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #fff;
    border-radius: 2.3em;
    -webkit-border-radius: 2.3em;
    -moz-border-radius: 2.3em;
    -o-border-radius: 2.3em;
    -ms-border-radius: 2.3em;
}
.g-btn a:hover{
    color: #ffffff;
    background:rgba(226, 46, 46, 0.3);
    border: 1px solid #e22e2e;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--游戏页结束--*/

/*--博客页开始--*/
.blog{
    position:relative;
    top:65px;
    z-index: 0;
    background: url(../images/banner2.jpg) no-repeat;
    background-size:100% 100%;
    min-height:700px;
    border:0px;
    padding:0px;
    margin:0px;
}
.blog-main{
    border:0px;
    padding:0px;
    margin:0px;
    text-align:center;
}


.container>.b-btn a{
    position:relative;
    left:0px;
}
.blog-main h3{
    position:relative;
    top: 00px;
    left:-320px;
    font-size: 3em;
    color: #ffffff;
    padding: 0px 0px;
}
.b-btn a {
    position:absolute;
    bottom:10px;
    left:550px;
    color: #e1e1e1;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 3px;
    outline: none;
}

.b-article a{
    color: #e1e1e1;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 5px;
    outline: none;
    margin:10px;
}

.b-article a:hover{
    color: #353232;
    font-size: 28px;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.b-btn a:hover{
    color: #e22e2e;
    font-size: 24px;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--博客页结束--*/
/*--尾页开始--*/
.footer{
    position:relative;
    top:70px;
    z-index: 0;
    padding:2em 0px;
    background: rgba(0, 0, 0, 0.82);
    text-align:center
}

.footer-text{
    color: #ffffff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.footer-text p a {
    color: #1a0f0f;
}
.footer-text p a:hover {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}




