<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>大饱眼福</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Games,Player">

    <!--下面一句表示当页面打开时先设置定时器，当时间为0时启动hideURLbar函数-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"> <!--media="all"表示再任何设备上都套用这个css-->
    <link href="../static/css/style_article.css" th:href="@{/css/style_article.css}" rel="stylesheet" type="text/css" media="all">

    <!--字体-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="../static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
    <script type="text/javascript" src="../static/js/move-top.js" th:src="@{/js/move-top.js}"></script>
    <script type="text/javascript" src="../static/js/easing.js" th:src="@{/js/easing.js}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>

    <script>
        $(function () {
            $("#delete1").click(function () {
                var data = {'articleId':$("#aid").val()};
//                var data = {title:"asdd",field:"asdasd"};
                $.ajax({
                    url:"/article/delete",
                    type:"GET",
                    data:data
//                    data: JSON.stringify(data),
//                    contentType:'application/json'
                }).done(function (msg) {
                    if(msg.status) {
                        alert("ok");
                        window.location.href="/home";

                    }
                    else alert("shit");
                });
            });

            $("#delete2").click(function () {
                var data = {'articleId':$("#aid").val()};
//                var data = {title:"asdd",field:"asdasd"};
                $.ajax({
                    url:"/article/delete",
                    type:"GET",
                    data:data
//                    data: JSON.stringify(data),
//                    contentType:'application/json'
                }).done(function (msg) {
                    if(msg.status) {
                        alert("ok");
                        window.location.href="/home";

                    }
                    else alert("shit");
                });
            });

        });
    </script>

</head>

<body>
<!--头页-->
<div class="header" id="home">
    <div class="header-top">  <!--头页的上部-->
        <a th:href="@{/home}" ><img src="../static/images/logo-2.png"  th:src="@{/images/logo-2.png}" alt=""/></a> <!--到时候此处放logo,跳转到首页-->
    </div>

    <div class="header-home">
        <div class="fixed-header">
            <div class="h_menu4">
                <div class="header-left">

                    <div class="col-lg-3 logo-header">
                        <a><img src="../static/images/logo-2.png" th:src="@{/images/logo-2.png}" alt=""/></a>
                    </div>
                    <div class="col-lg-9 main-header">
                        <!--/*@thymesVar id="title" type="java.lang.String"*/-->
                        <h1 th:text="${article.name}">selsblater 1917使用教程</h1> <!--此处应该能改名（后端）-->
                        <input id="aid" type="hidden" th:value="${article.id}">
                    </div>


                    <div class="clearfix"></div>

                    <!--选中scroll时下滑-->
                    <script type="text/javascript">
                        jQuery(document).ready(function($){
                            $(".scroll").click(function(event){
                                event.preventDefault();
                                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                            });
                        });
                    </script>

                    <!--标识现在被选中的项-->
                    <script>
                        $(document).ready(function(){
                            $(".nav li a").click(function(){
                                $(this).parent().addClass("active");
                                $(this).parent().siblings().removeClass("active");
                            });
                        });
                    </script>

                    <!--下滑到指定位置时固定横向列表-->
                    <script>
                        $(document).ready(function(){
                            var navoffset=$(".header-home").offset().top;
                            $(window).scroll(function(){
                                var scrollpos=$(window).scrollTop();
                                if(scrollpos>=navoffset){
                                    $(".header-home").addClass("fixed");
                                    $(".logo-header").removeClass("invisible");

                                }
                                else{
                                    $(".header-home").removeClass("fixed");
                                    $(".logo-header").addClass("invisible");
                                }
                            });
                        });
                    </script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="header-top-bottom">
        <!--跳转到#即本页面中的。about代表about类。#about就是跳转到本页中的about类那里-->
        <a href="#article" class="scroll"><img src="../static/images/logo-3.png" th:src="@{/images/logo-3.png}" alt=""/></a> <!--下滑按钮-->
    </div>

    <div class="img-rounded invisible-top"></div>

    <div class="img-rounded about-top" id="article">
        <div class="about-text">
            <p th:text="${article.content}">message</p>         <!--需要由后端输入-->
        </div>
        <div class="clearfix"></div>
    </div>
    <h1><a th:if="${article.authorId == user.id}" th:href="@{/article/update/{id}(id = ${article.id})}">修改</a></h1>
    <h1><a id="delete1" th:if="${article.authorId == user.id}" >删除</a></h1>
    <h1><a  id="delete2" th:if="${user.priviledge == 1}">删除</a></h1>

</div>
<!--头页结束-->
</body>
</html>