<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>大改特改</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Games,Player">

    <!--下面一句表示当页面打开时先设置定时器，当时间为0时启动hideURLbar函数-->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"> <!--media="all"表示再任何设备上都套用这个css-->
    <link href="../static/css/style_edit.css" th:href="@{/css/style_edit.css}"  rel="stylesheet" type="text/css" media="all">

    <!--字体-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}" src="../static/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../static/js/move-top.js" th:src="@{/js/move-top.js}"></script>
    <script type="text/javascript" src="../static/js/easing.js" th:src="@{/js/easing.js}"></script>
    <script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js">
    </script>
    <!--
     对scroll类起作用，当点击scroll类元素时，以1000的速度将页面移动到this.hash位置
     this.hash：获取当前链接的标签值：
     如：
     <a class="shortcut" href="#booking">约时间</a>
     <script>
     $(document).ready(function(){
     $("a.shortcut").click(function(){
     alert(this.hash);  //输出#booking
      });
      });
      </script>
      -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>

    <script>
        $(function () {
            $("#button").click(function () {
                var data = {'field':$("#field").val(),'articleId':$("#articleId").val()};
//                var data = {title:"asdd",field:"asdasd"};
                $.ajax({
                    url:"/article/update/up",
                    type:"POST",
                    data:data
//                    data: JSON.stringify(data),
//                    contentType:'application/json'
                }).done(function (msg) {
                    if(msg.status){
                        alert("ok");
                        var url = "/article/"+$("#articleId").val();
                        window.location.href=url;
                    }
                    else alert("nope!");
                });
            });

        });



    </script>



</head>
<body>
<!--头页-->
<div class="header" id="home">
    <div class="header-top">  <!--头页的上部-->
        <a th:href="@{/user/{id}(id=${user.id})}" ><img src="../static/images/logo-2.png" th:src="@{/images/logo-2.png}" alt=""/></a> <!--到时候此处放logo,跳转到首页-->
    </div>

    <div class="header-home">
        <div class="fixed-header">
            <div class="h_menu4">
                <div class="header-left">

                    <div class="col-lg-3 logo-header">
                        <a th:href="@{/user/{id}(id=${user.id})}" href="#"><img src="../static/images/logo-2.png" th:src="@{/images/logo-2.png}" alt=""/></a>
                    </div>

                    <div class="col-lg-9 main-header">
                        <h1>大改特改</h1><!--此处应该能改名（后端）-->
                    </div>


                    <div class="clearfix"></div>

                    <!--选中scroll时下滑-->
                    <script type="text/javascript">
                        jQuery(document).ready(function($){
                            $(".scroll").click(function(event){
                                event.preventDefault();
                                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                            });
                        });
                    </script>

                    <!--标识现在被选中的项-->
                    <script>
                        $(document).ready(function(){
                            $(".nav li a").click(function(){
                                $(this).parent().addClass("active");
                                $(this).parent().siblings().removeClass("active");
                            });
                        });
                    </script>

                    <!--下滑到指定位置时固定横向列表-->
                    <script>
                        $(document).ready(function(){
                            var navoffset=$(".header-home").offset().top;
                            $(window).scroll(function(){
                                var scrollpos=$(window).scrollTop();
                                if(scrollpos>=navoffset){
                                    $(".header-home").addClass("fixed");
                                    $(".logo-header").removeClass("invisible");

                                }
                                else{
                                    $(".header-home").removeClass("fixed");
                                    $(".logo-header").addClass("invisible");
                                }
                            });
                        });
                    </script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="img-rounded invisible-top"></div>

    <div class="img-rounded about-top" id="article">
        <div class="about-text">
            <div class="text-title">
            <div class="text-field-area">
                <form>
                    <input type="hidden" id="articleId" th:value="${articleId}">
                    <textarea id="field" value="修改你的文章:" onfocus="if(this.value == 'MESSAGE') this.value='';" onblur="if(this.value == '') this.value='修改你的文章';">你的文章</textarea>
                </form>
            </div>
            <div class="button">
                <input id="button" type="button" value="send">
            </div>
            <div class="clearfix"> </div>        <!--需要由后端输入-->
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--头页结束-->
</body>
</body>
</html>